html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Bungee';
    src: url(../fonts/Bungee/Bungee-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

/* variables */
:root {
    --font-family: "Roboto";
    --normal-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-bg: white;
    --secondary-bg: white;
    --transparent-bg: rgba(255, 255, 255, .78);
    --primary-color: black;
    --bottom-margin: 0.5rem;
}
  
/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
  
body {
    font-family: var(--font-family);
    background-color: var(--primary-bg);
}

h2 {
    font-size: xx-large;
    text-shadow: 1px 1px 1px var(--transparent-bg);
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color);
    margin-top: 15vw;
}

/* navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-bg);
    /* box-shadow: 0 2px 2px var(--primary-color); */
  }

nav h1 {
    color: var(--primary-color);
    /* text-shadow: 2px 2px var(--primary-color); */
}

nav a {
    color: var(--primary-color);
    transition: 0.3s;
}

.navlist a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

    /* hamburger menu */
    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--primary-bg);;
        color: var(--primary-color);
        list-style: none;
        padding-top: 4rem;
        visibility: hidden;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: var(--primary-color);
        text-decoration: none;
    }
      
    .menuItem:hover {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }
      
    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: 1px solid var(--primary-color);
        background: var(--primary-bg);
        cursor: pointer;
        visibility: hidden;
    }
      
    .closeIcon {
        display: none;
    }
      
    .showMenu {
        transform: translateY(0);
    }

    /* only show hamburger on smaller screens */
    @media only screen and (max-width: 600px) {
        nav {
            visibility: hidden;
        }
        .menu {
            visibility: visible;
        }
        .hamburger {
            visibility: visible;
        }
    }

/* home */
.home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    filter: gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1); 
    margin-top: 0px;
    overflow: auto;
}

.home:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

/* about */
#about-visibility {
    visibility: hidden;
}

.about:hover  #about-visibility{
    visibility: visible;
}

.about {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    filter: gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1); 
    margin-top: 0px;
    overflow: auto;
}

.about:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.about ul { 
	margin-left: auto; 
	margin-right: auto; 
    /* display: flex;
    flex-wrap: wrap; */
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    hyphens: manual;
}

.text-container {
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 13%;
    padding: 6vw;
    background-color: var(--transparent-bg);
    border-radius: 11px;
    border: 5px solid var(--primary-color);
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

.icon {
    width: 20rem;
}

.sublist {
    padding-left: 2rem;
}

/* projects */
#projects-visibility {
    visibility: hidden;
}

.projects:hover  #projects-visibility{
    visibility: visible;
}

.projects {
    padding: 32px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    filter: gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1); 
    margin-top: 0px;
    overflow: auto;
}

.projects:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* row --> column on smaller screens */
    @media only screen and (max-width: 600px) {
        .projects-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
  
.project-container {
    text-align: center;
    max-width: 21.875rem;
    min-height: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}
  
.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--transparent-bg);
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
    border: 5px solid var(--primary-color);
    border-radius: 11px;
}

.project-link:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* contact */
#contact-visibility {
    visibility: hidden;
}

.contact:hover  #contact-visibility{
    visibility: visible;
}

.contact{
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    filter: gray; 
    -webkit-filter: grayscale(1);
    filter: grayscale(1); 
    margin-top: 0px;
    overflow: auto;
}

.contact:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.contact-title{
    text-align: center;
    margin-top: 20vw;
    color: var(--primary-color);
}

.contactList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactIcon {
    width: 5vw;
}

.contactLink {
    padding: .5rem;
    background-color: inherit;
    border: 5px solid var(--primary-color);
    border-radius: 11px;
}

.contactLink:hover {
    border: 5px solid var(--primary-color);
    background-color: var(--transparent-bg);
}

/* scroll up */
.upIcon {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    background: var(--secondary-bg);
    border: 5px solid var(--secondary-bg);
    border-radius: 5rem;
}
  
#up-arrow:hover {
    background: var(--primary-bg);
    border: 5px solid var(--primary-color);
}

/* footer */
footer {
    background-color: var(--primary-bg);
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

.credit-link {
    font-style: italic;
} 

.credit-link:hover {
    font-style: normal;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
} 

